@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<article class="grow grid place-content-center gap-12">
    <h1 class="text-primary font-black font-archivo text-4xl text-center">Something went wrong...</h1>
    <p class="text-lg text-center">An unexpected error occured. Try going <a class="text-primary hover:text-primary-hover underline" asp-controller="Home" asp-action="Index">Home</a></p>
</article>
